staging.example.com {
	@django {
		header X-Custom-App-Version 2
	}

	handle @django {
		reverse_proxy django:8000 {
		}
	}

	handle {
		reverse_proxy nginx:80 {
			# header_up Host {host} # redundant
			header_up X-Real-IP {remote}
			# header_up X-Forwarded-For {remote}  # redundant
			# header_up X-Forwarded-Port {server_port} # redundant
			header_down -Server
			header_down -X-Powered-By
			header_down -X-Asp*
		}
		header X-Powered-By "Coffee"
	}

	log {
		output file /var/log/caddy/staging.example.com-access.log
	}
}

load_balance.example.com {
	handle {
		reverse_proxy 10.99.2.200:80 10.99.2.210:80 {
			lb_policy least_conn
			lb_retries 1
			lb_try_duration 5s
			health_uri /
			health_interval 10s
			health_timeout 10s
		}
		header X-Powered-By "Coffee"
	}
}

php.example.com {
	root * /app/laravel/public
	php_fastcgi php_fpm:9000
	file_server
}

spa.example.com {
	encode zstd gzip
	root * /var/www/leadership
	try_files {path} /index.html
	file_server
}

ondemand_tls.example.com {
	tls internal {
		on_demand
		get_certificate http http://tls_provider/certs
	}
	handle {
		root * /usr/share/caddy
		file_server
	}
}
